/* Typography Scale */
/*  
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* ******************** */
/* Spaces */
/* ******************** */
/* 
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

@use "./utils" as *;

:root {
  --clr-primary: #3c8067;
  --clr-primary-shade: #1b4133;

  --clr-white: #fff;
  --clr-grey-1: #f2ebe3;
  --clr-grey-2: #6c7289;
  --clr-grey-3: #1c232b;

  --fs-default: var(--fs-3);

  --ff-main: "Montserrat";
  --ff-secondary: "Fraunces";

  --fw-normal: 500;
  --fw-bold: 700;

  // FONT SIZE
  --fs-1: #{toRem(10px)};
  --fs-2: #{toRem(12px)};
  --fs-3: #{toRem(14px)};
  --fs-4: #{toRem(16px)};
  --fs-5: #{toRem(18px)};
  --fs-6: #{toRem(20px)};
  --fs-7: #{toRem(24px)};
  --fs-8: #{toRem(30px)};
  --fs-9: #{toRem(36px)};
  --fs-10: #{toRem(44px)};
  --fs-11: #{toRem(52px)};
  --fs-12: #{toRem(62px)};
  --fs-13: #{toRem(74px)};
  --fs-14: #{toRem(86px)};
  --fs-15: #{toRem(98px)};

  // SPACING
  --sp-1: #{toRem(2px)};
  --sp-2: #{toRem(4px)};
  --sp-3: #{toRem(8px)};
  --sp-4: #{toRem(12px)};
  --sp-5: #{toRem(16px)};
  --sp-6: #{toRem(24px)};
  --sp-7: #{toRem(32px)};
  --sp-8: #{toRem(48px)};
  --sp-9: #{toRem(64px)};
  --sp-10: #{toRem(80px)};
  --sp-11: #{toRem(96px)};
  --sp-12: #{toRem(128px)};

  --desktop-container-width: #{toRem(600px)};
}
